.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 48px;
}

table {
    margin-top: 24px;
}

.letter {
    width: 64px;
    height: 64px;
    border: 2px solid rgb(180, 180, 180);
    font-size: 36px;
    font-weight: bold;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.correct-letter {
    background-color: #6aaa64;
    color: white;
}

.present-letter {
    background-color: #c9b458;
    color: white;
}

.absent-letter {
    background-color: #86888a;
    color: white;
}

#correct-answer {
    height: 36px;
    font-size: 24px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

#keyboard {
    margin-top: 16px;
    user-select: none;
}

.row {
    display: flex;
    width: 100%;
    margin: 0 auto 8px;
    touch-action: manipulation;
}

button {
    height: 2em;
    width: 2em;
    margin: 0.1em;
    border-radius: 0.1em;
    border: none;
    background-color: #d3d6da;
    font-size: 0.9em;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
}

button:focus {
    outline:0;
}

.half {
    flex: 0.5;
}

.one-and-a-half {
    flex: 1.5;
}